body{
    background-color:#ffd27f;
    margin-left: 4px;
    margin-right: 10px;
}
img.hover{
    background-color: blue;
}
.id{
    background-color: black;
    border-radius: 100px;
}
hr{
   background-color:blue;
}
h2{
    color: blue;
}
#name{
    color: black;
}
